$back-pri: rgb(32, 32, 32);
$back-sec: rgb(253, 22, 22);
$fontColor: rgb(241, 241, 241);
$fontSec: rgb(192, 88, 88);

$margin-small: 30px 50px;
$margin-big: 50px;
$padding-small: 20px 50px;
$padding-big: 50px;

$extraMedium: 1100px;
$medium: 900px;
$semiMedium: 700px;
$small: 550px;
$extraSmall: 450px;

$h1: 40px;
$h2: 25px;


.home{
    .home-heading{
        background-color: $back-sec;
        padding: 20px 0;
        text-align: center;
        margin: 0;
        overflow: hidden;

        h1{
            width: 60%;
            margin: 0 auto;
            font-size: $h1;

            @media screen and (max-width: $medium) {
                width: 80%;
                font-size: $h2;
            }
        }
    }
}